# Dependencies
node_modules/
**/node_modules/
.pnp/
.pnpm/

# Build artifacts
dist/
**/dist/
build/
**/build/
.turbo/

# Environment / Local config
.env
.env.*
.envrc
**/.envrc
.vscode/
.zed/

# OS specific
.DS_Store
Thumbs.db